:root {
    --base: #FFFFFF;
    --gray-200: #EAECF0;
    --gray-500: #667085;
    --gray-700: #344054;
    --main-text: #1B1B1B;
    --secondary-text: #8E99AB;
    --background: #EAECF0;
    --green: #1FC0AE;
    --blue: #009FE3;
    --dropdown-back: #F9FAFB;
    --hover-green: #1FC0AE30;
    --block-background: #F6F7FA;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img {
    width: 100%;
    vertical-align: top;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

